/* Fonts
------------------------------------------------------------------------------- */
@font-face {
  font-family: $kautivaCyrillicBlackFont;
  src: url('~assets/fonts/KautivaCyrillicBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
