$black: #000;
$yellow: #fff100;

$font: 'ITCAvantGardeStd-Bk';
$fontMedium: 'ITCAvantGardeStd-Md';
$fontBold: 'ITCAvantGardeStd-Bold';
$fontBlack: 'ITCAvantGardeStd-Demi';

@font-face {
  font-family: 'fontawesome';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.flyscoot.com/prod/fonts/fontawesome-webfont.eot?');
  src: url('https://cdn.flyscoot.com/prod/fonts/fontawesome-webfont.eot?') format('embedded-opentype'), url('https://cdn.flyscoot.com/prod/fonts/fontawesome-webfont.woff') format('woff'), url('https://cdn.flyscoot.com/prod/fonts/fontawesome-webfont.ttf') format('truetype'), url('https://cdn.flyscoot.com/prod/fonts/fontawesome-webfont.svg') format('svg');
}

@font-face {
  font-family: 'scoot-airline-revamp';
  src: url('https://cdn.flyscoot.com/prod/fonts/scoot-airline-revamp.eot?');
  src: url('https://cdn.flyscoot.com/prod/fonts/scoot-airline-revamp.eot?') format('embedded-opentype'), url('https://cdn.flyscoot.com/prod/fonts/scoot-airline-revamp.ttf') format('truetype'), url('https://cdn.flyscoot.com/prod/fonts/scoot-airline-revamp.woff') format('woff'), url('https://cdn.flyscoot.com/prod/fonts/scoot-airline-revamp.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font;
  src: url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bk.eot?');
  src: url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bk.eot?') format('embedded-opentype'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bk.woff2') format('woff2'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bk.woff') format('woff'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bk.ttf') format('truetype'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bk.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $fontMedium;
  src: url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Md.eot?');
  src: url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Md.eot?') format('embedded-opentype'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Md.woff2') format('woff2'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Md.woff') format('woff'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Md.ttf') format('truetype'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Md.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $fontBold;
  src: url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bold.eot?');
  src: url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bold.eot?') format('embedded-opentype'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bold.woff') format('woff'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bold.ttf') format('truetype'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $fontBlack;
  src: url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Demi.eot?');
  src: url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Demi.eot?') format('embedded-opentype'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Demi.woff2') format('woff2'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Demi.woff') format('woff'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Demi.ttf') format('truetype'), url('https://cdn.flyscoot.com/prod/fonts/ITCAvantGardeStd-Demi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-md {
  font-family: $fontMedium, Arial, sans-serif;
}

.font-black,
th {
  font-family: $fontBlack, Arial, sans-serif;
}

.text-black {
  color: #000;
}
