/* Variables
------------------------------------------------------------------------------- */
$kautivaCyrillicBlackFont: 'KautivaCyrillicBlack';

$primary-black: #000;
$primary-blue: #267aff;
$primary-green: #0b750b;
$primary-grey: #999;
$primary-red: #dc3224;
$primary-white: #fff;
$primary-yellow: #ffe900;

$secondary-yellow: #fff100;
$secondary-white: #e5e5e5;
