
/* Index
------------------------------------------------------------------------------- */
@import 'fonts';
@import 'buttons';
@import 'forms';
@import 'vue-range-component/dist/vue-range-slider.css';

body {
  background-color: $primary-yellow;
  color: $primary-black;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Roboto',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}

/* Date Picker
------------------------------------------------------------------------------- */
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid $primary-yellow !important;
}

.vdp-datepicker__calendar .cell.selected {
  background: $primary-yellow !important;
}

.vdp-datepicker__calendar .cell.selected:hover {
  background: $primary-yellow !important;
}

.vdp-datepicker__calendar .cell.selected.highlighted {
  background: $primary-yellow !important;
}

.vdp-datepicker__calendar .cell.highlighted {
  background: $primary-yellow !important;
}

.vdp-datepicker__calendar .cell.highlighted.disabled {
  color: #a3a3a3;
}

.vdp-datepicker__calendar .cell.grey {
  color: #888;
}

.vdp-datepicker .form-control[readonly] {
  background-color: $primary-white;
}

/* Box
------------------------------------------------------------------------------- */
.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.box-container {
  background: $primary-white;
  border-radius: 7px;
  margin: 5px 0;
  padding: 30px 60px;
}


/* Range Slider
------------------------------------------------------------------------------- */
.vue-range-slider.slider-component .slider .slider-process {
  background-color: $primary-black;
}

.vue-range-slider.slider-component .slider-tooltip-wrap .slider-tooltip {
  border-color: $primary-black;
  background-color: $primary-black;
}
